<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %> 
</head>
<body>
    <div class="container">     
     <% include ./partials/form.ejs %>
    </div>
    <% include ./partials/jsdefaults.ejs %>
</body>
</html>